    <nav class="menu">
        <button class="close-button">×</button>
        <ul>
            <li><a class="texto2" href="/">Home</a></li>
            <li><a class="texto2" href="panels">Panels</a></li>
            <li><a class="texto2" href="Trailers">Trailers</a></li>
        </ul>
    </nav>