<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panels</title>
    <link rel="stylesheet" href="assets/css/estiloPrincipal.css" />
    <link rel="stylesheet" href="assets/css/header.css">

</head>

<body>
    {{> header}}
    {{> menu}}

    <h1>Panels</h1>
    <div class="contenido">
        <p>
            Un vehículo tipo panel, también conocido como furgoneta panel o furgoneta cerrada, es un tipo de vehículo
            terrestre que se caracteriza por tener una carrocería cerrada y plana. Estas furgonetas están diseñadas
            principalmente para transportar carga, mercancías o equipo de manera segura y protegida, ya que su
            compartimento de carga está completamente cerrado y a menudo carece de ventanas en los lados traseros. A
            continuación, se detallan algunas de las características y usos comunes de los vehículos tipo panel:</p>
        <li>Carrocería cerrada: La carrocería del vehículo tipo panel es completamente cerrada, lo que proporciona
            protección contra condiciones climáticas, robos y daños a la carga transportada.


        <li>Diseño versátil: Estos vehículos se fabrican en diferentes tamaños y capacidades de carga, lo que les
            permite adaptarse a una amplia variedad de necesidades de transporte.
        </li>
        <li>Uso comercial: Las furgonetas tipo panel suelen utilizarse en aplicaciones comerciales y empresariales, como
            la entrega de paquetes, el transporte de mercancías a pequeña escala, el servicio de mensajería, la
            logística y la movilidad de equipos o suministros.</li>
        </li>
                <div class="derecha">
                    <img class="imagen" src="images/panel.jpg" alt="">
        </div>
    </div>
    {{nombre}}
    {{titulo}}
</body>
<script src="assets/js/header.js"></script>
{{> footer}}

</html>