<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailers</title>
    		<link rel="stylesheet" href="assets/css/estiloPrincipal.css" />
            <link rel="stylesheet" href="assets/css/header.css">

</head>
<body>
     {{> header}}
    {{> menu}}

    <h1>Trailers</h1>
    <h2>Definicion:</h2>
    <p>
        Trailer es un término inglés que, en nuestra lengua, debe escribirse con tilde en la A (tráiler) ya que es una palabra grave que no termina en S, N ni vocal. Cabe destacar que esta versión castellanizada del concepto, con tilde, forma parte del diccionario que elabora la Real Academia Española (RAE).
    </p>
<div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jZjWzE7DWy4?si=dmfb2kdMM64RdOaH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>

 <p>    Existen dos grandes acepciones de la noción. Un tráiler puede ser el remolque o el acoplado que lleva al arrastre otro vehículo. Esto se debe a que el tráiler carece de motor y de movilidad propia: está diseñado para acoplarse a la estructura de algún medio de transporte.
</p>
   <p>

Por lo general, un tráiler está compuesto por un chasis que alberga una cierta superficie de carga. Además cuenta con ruedas que le permiten desplazarse cuando es arrastrado por otro vehículo. Un automóvil, una camioneta, un camión, una bicicleta o una motocicleta pueden llevar un tráiler, cuyas características son muy variadas en cuanto al tamaño y el peso.
   </p>
   
    {{nombre}}
    {{titulo}}
</body>
<script src="assets/js/header.js"></script>
            {{> footer}}
</html>